/* You can add global styles to this file, and also import other style files */

//===============================================================================================
//                                  GLOBAL VARS
//===============================================================================================

//===================================
//              BOARD
//===================================

$cell-inner-size: 45px;
$cell-border-size: 2px;
$cell-actual-size: $cell-inner-size + ($cell-border-size * 2);
$wall-size: 10px;
$wall-length: $cell-actual-size;
$num-of-cells: 9;

$row-column-size: ($cell-actual-size * $num-of-cells) + ($wall-size * ($num-of-cells - 1)) + 30px;

//===================================
//              COLORS
//===================================

$screen-color: #f1ce7b;
$game-screen-component-color: #ece5a4;
$game-screen-border-color: #585040;
$cell-hover-color: #bfaf83;
$wall-hover-color: #432d0a;

$button-color: #9d9871;
$button-border-color: #585040;
$button-hover-color: #413c30;
$button-hover-text-color: azure;

$player-red-color: red;
$player-red-border-color: #850101;
$player-green-color: green;
$player-green-border-color: #004a00;
$player-yellow-color: yellow;
$player-yellow-border-color: #777700;
$player-blue-color: blue;
$player-blue-border-color: #010185;


//===============================================================================================

html, body {
  background-color: #d2d2d2;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  height: 100%;
  width: 100%;
}


.header {
  font-size: 120px;
  color: #a336ff;
}
