# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\guyra\Desktop\DeepLearninProjectPyhton\MultiPlayerQuoridor-RL\python-logic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

C:\Users\guyra\Desktop\DeepLearninProjectPyhton\MultiPlayerQuoridor-RL\python-logic\venv
