@import "src/styles";

.wall {
  display: block;
  float: left;

  border-radius: 1px;

  &:hover {
    cursor: pointer;
    animation:hover 1s infinite alternate;
    transition: all 1s;
    background: #432d0a !important;
  }
}

.horizontal {
  height: $wall-length;
  width: $wall-size;
}

.vertical {
  height: $wall-size;
  width: $wall-length;
  margin-right: $wall-size;
}
