@import "src/styles";

.wall {
  display: block;
  float: left;

  border-radius: 1px;

  //&:hover {
  //  cursor: pointer;
  //  animation:hover 1s infinite alternate;
  //  transition: all 1s;
  //  background: #432d0a !important;
  //}

}

.wall-hover {
  cursor: pointer;
  animation:hover 1s infinite alternate;
  transition: all 1s;
  background: $wall-hover-color !important;
}

.horizontal {
  height: $wall-size;
  width: $wall-length;
  margin-right: $wall-size;
}

.vertical {
  height: $wall-length;
  width: $wall-size;
}
