@import "src/styles";

.cell {
  display: block;
  float: left;
  height: $cell-inner-size;
  width: $cell-inner-size;
  background: #ece5a4;

  border: solid $cell-border-size #585040;

  &:hover {
    cursor: pointer;
    animation:hover 1s infinite alternate;
    transition: all 1s;
    background: #bfaf83 !important;
  }
}
