@import "src/styles";

.cell {
  float: left;
  height: $cell-inner-size;
  width: $cell-inner-size;
  background: $game-screen-component-color;
  border: solid $cell-border-size $game-screen-border-color;

  display: flex;
  justify-content: center;
  align-items: center;


  &:hover {
    cursor: pointer;
    animation:hover 1s infinite alternate;
    transition: all 1s;
    background: $cell-hover-color !important;
  }
}

.player {
  border-radius: 50%;
  height: 30%;
  width: 30%;
}

.player-red {
  background-color: $player-red-color;
  border: 3px solid $player-red-border-color;
}

.player-green {
  background-color: $player-green-color;
  border: 3px solid $player-green-border-color;
}

.player-yellow {
  background-color: $player-yellow-color;
  border: 3px solid $player-yellow-border-color;
}

.player-blue {
  background-color: $player-blue-color;
  border: 3px solid $player-blue-border-color;
}
