<div class="game-history">
  <div class="header history-header">
    <p>Review Games</p>
  </div>
  <div class="body-games">
    <div class="list-of-games">
      <mat-selection-list [multiple]="false">
        <mat-list-option class="game-option" *ngFor="let gameId of gamesIds" [value]="gameId">
          <div (click)="getGameAction(gameId)">Game {{gameId}}</div>
        </mat-list-option>
      </mat-selection-list>
    </div>
    <div class="watch-game" *ngIf="currGameId">
      <div id="board">
        <app-board-game [walls]="walls$ | async" [pawns]="pawns$ | async" [currentPawnMoves]="currentPawnMoves$ | async"
                        [pawnName]="pawnName$ | async" [isMyTurn]="isMyTurn$ | async"
        ></app-board-game>
        <app-walls [pawns]="pawns$ | async"></app-walls>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
