.game-history {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.history-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.body-games {
  display: flex;
  flex-direction: row;
  flex: 4;
}
.game-option {
  background-color: #4b4b4b;
  margin: 10px;
  text-align: center;
}

.list-of-games {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.details-game {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin: 30px;
  justify-content: space-around;
}

.list-of-games {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.details {
  display: flex;
  flex: 1;
  background-color: #4b4b4b;
  justify-content: space-around;
}

.watch-game {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}
