@import "../../../styles";

.board-container {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: column;
  width: $row-column-size;
  height: $row-column-size;
}

