.option-btn {
  width: 70%;
  height: 30px;
  float: left;
  margin-top: 10px;
  margin-left: 2px;

  border: solid 3px #585040;
  border-radius: 12px;
  background-color: #9d9871;
  padding: 15px;

  &:hover {
    cursor: pointer;
    animation:hover 0.5s infinite alternate;
    transition: all 0.5s;
    background: #413c30 !important;
    color: azure;
  }
}
