<div class="game-rules">
  <div class="header rules-header">
    <p>Game Rules</p>
  </div>
  <div class="rules-details">
    <div class="content">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Set up</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../../assets/images/setUp.jpg"/>
        <mat-card-content>
          <p>At the start of the game, each player has one pawn, placed in the middle square of the closest row. Each
            player
            gets 10 walls.</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="content">
      <mat-card>
        <mat-card-header>
          <mat-card-title>First pawn to other side wins</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../../assets/images/firstPawnToOtherSideWins.jpg"/>
        <mat-card-content>
          <p> The game is won by the first player who gets his pawn on one of the nine squares on the opposite side of
            the board.
            The game then ends immediately.</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="content">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Place wall or move pawn per turn</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Players play in turns. At every turn a player MUST move its pawn OR place one of its unplaced walls.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="content">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Wall placement</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../../assets/images/wallPlacement.jpg"/>
        <mat-card-content>
          <p>Walls can be placed everywhere on the board. They have to face two squares and can never overlap other walls.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="content">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Walls are fixed once placed</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../../assets/images/wallsArefixedOncePlaced.jpg"/>
        <mat-card-content>
          <p>Once a wall is placed, it can never be moved.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="content">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Players can never be blocked completely</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../../assets/images/playersCanNeverBeBlockedCompletely.jpg"/>
        <mat-card-content>
          <p>All players must always be able to reach at least one of their winning squares.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="content">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Pawns move orthogonally</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../../assets/images/pawnsMoveOrthogonally.jpg"/>
        <mat-card-content>
          <p> A pawn can move to one of the four adjacent squares of the current position, if it does not cross a wall and
            if
            the
            adjacent square is unoccupied.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="content">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Pawns can not go through walls</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../../assets/images/pawnsCanNotGoThroughWalls.jpg"/>
        <mat-card-content>
          <p>Walls can NEVER be crossed by pawns. The edges of the board are considered walls.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="content">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Pawns can jump over other pawns</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../../assets/images/pawnsCanJumpOverOtherPawns.jpg"/>
        <mat-card-content>
          <p>A pawn is allowed to jump orthogonally in a straight line over another pawn in a neighbouring square in one
            move, if
            no walls are crossed. Two pawns can never share a square.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="content">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Diagonal jumping rules</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="./../../assets/images/diagonalJumpingRules.jpg"/>
        <mat-card-content>
          <p>If a wall is behind the pawn to be jumped, a jump is allowed to one of the free squares adjacent to the jumped
            pawn,
            if no walls are crossed.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
<router-outlet></router-outlet>
