.menu {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 5;
}

.button {
  margin: 20px;
  display: flex;
  justify-content: center;
  width: 300px;
}

.button:hover {
  text-shadow: 2px 2px 5px black;
  background-color: #191919;
}
